@charset 'UTF-8';

/*
 * The Grid
 */

.container {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

// .posts {
//     margin-bottom: 4rem
// }

.post {
    position: relative;
    margin-bottom: 4rem;
}

.post iframe {
    max-width: 100%;
    margin-bottom: 1rem;
}

.talk p {
    margin-top: 1rem
}