@charset 'UTF-8';

/*
 * Masthead
 */

h1 a {
    color: var(--heading-color);
}

h1 span {
    display: inline-block;
    font-weight: 300;
}

@media (min-width: 500px) {
    .masthead {
        max-width: 450px;
    }
}

.links {
    font-size: 1.5rem;
}

.links a {
    color: var(--heading-color);
    margin-right: .5rem;
}

.links a:hover {
    color: var(--heading-color-hover);
    text-decoration: none;
}

.lead {
    font-size: 1.25rem;
    line-height: 1.3;
    color: var(--heading-color);
}