@charset 'UTF-8';

/*
 * Syntax highlighting and ads
 */

:root {
    --base00: #ffffff;
    --base01: #f5f5f5;
    --base02: #c8c8fa;
    --base03: #969896;
    --base04: #030303;
    --base05: #333333;
    --base06: #ffffff;
    --base07: #b08800;
    --base08: #ed6a43;
    --base09: #0086b3;
    --base0A: #795da3;
    --base0B: #183691;
    --base0C: #183691;
    --base0D: #795da3;
    --base0E: #a71d5d;
    --base0F: #333333
}

@media (prefers-color-scheme: dark) {
    :root {
        --base00: #282c34;
        --base01: #353b45;
        --base02: #3e4451;
        --base03: #545862;
        --base04: #565c64;
        --base05: #abb2bf;
        --base06: #b6bdca;
        --base07: #d19a66;
        --base08: #e06c75;
        --base09: #d19a66;
        --base0A: #e5c07b;
        --base0B: #98c379;
        --base0C: #56b6c2;
        --base0D: #61afef;
        --base0E: #c678dd;
        --base0F: #be5046
    }
}

.hll {
    background-color: #fff
}

.c {
    color: var(--base04)
}

.err {
    color: var(--base08)
}

.k {
    color: var(--base0E)
}

.l {
    color: var(----base09)
}

.n {
    color: var(--base08)
}

.o {
    color: var(--base08)
}

.p {
    color: var(--base05)
}

.cm {
    color: var(--base04)
}

.cp {
    color: var(--base04)
}

.c1 {
    color: var(--base03)
}

.cs {
    color: var(--base04)
}

.gd {
    color: var(--base08)
}

.ge {
    font-style: italic
}

.gh {
    color: #ffffff;
    font-weight: bold
}

.gi {
    color: var(--base0C)
}

.gp {
    color: var(--base04);
    font-weight: bold
}

.gs {
    font-weight: bold
}

.gu {
    color: var(--base0C);
    font-weight: bold
}

.kc {
    color: var(--base0E)
}

.kd {
    color: var(--base0E)
}

.kn {
    color: var(--base0C)
}

.kp {
    color: var(--base0E)
}

.kr {
    color: var(--base0E)
}

.kt {
    color: var(--base0A)
}

.ld {
    color: var(--base0C)
}

.m {
    color: var(--base09)
}

.s {
    color: var(--base0C)
}

.na {
    color: var(--base08)
}

.nb {
    color: var(--base05)
}

.nc {
    color: var(--base07)
}

.no {
    color: var(--base08)
}

.nd {
    color: var(--base07)
}

.ni {
    color: #fff
}

.ne {
    color: var(--base08)
}

.nf {
    color: var(--base0B)
}

.nl {
    color: var(--base05)
}

.nn {
    color: var(--base0A)
}

.nx {
    color: var(--base0A)
}

.py {
    color: var(--base08)
}

.nt {
    color: var(--base08)
}

.nv {
    color: var(--base08)
}

.ow {
    color: var(--base0C)
}

.w {
    color: #fff
}

.mf {
    color: var(--base09)
}

.mh {
    color: var(--base09)
}

.mi {
    color: var(--base09)
}

.mo {
    color: var(--base09)
}

.sb {
    color: var(--base0C)
}

.sc {
    color: #fff
}

.sd {
    color: var(--base04)
}

.s2 {
    color: var(--base0C)
}

.se {
    color: var(--base09)
}

.sh {
    color: var(--base0C)
}

.si {
    color: var(--base09)
}

.sx {
    color: var(--base0C)
}

.sr {
    color: var(--base0C)
}

.s1 {
    color: var(--base0C)
}

.ss {
    color: var(--base0C)
}

.bp {
    color: var(--base05)
}

.vc {
    color: var(--base08)
}

.vg {
    color: var(--base08)
}

.vi {
    color: var(--base08)
}

.il {
    color: var(--base09)
}

.m+.o {
    color: var(--base03)
}

.language-sh .c {
    color: var(--base03)
}