@charset 'UTF-8';

/*
 * Syntax highlighting and ads
 */

:root {
    --base00: #707070;
    --base01: #707070;
    --base02: #707070;
    --base03: #707070;
    --base04: #707070;
    --base05: #e5e5e5;
    --base06: #e5e5e5;
    --base07: #ef4565;
    --base08: #ef4565;
    --base09: #f25f4c;
    --base0A: #e5e5e5;
    --base0B: #3da9fc;
    --base0C: #ef4565;
    --base0D: #3da9fc;
    --base0E: #3da9fc;
    --base0F: #ef4565;
}

.hll {
    background-color: var(--base05);
}

.c {
    color: var(--base04);
}

.dl {
    color: var(--base0C);
}

.err {
    color: var(--base08);
}

.k {
    color: var(--base0E);
}

.l {
    color: var(----base09);
}

.n {
    color: var(--base08);
}

.o {
    color: var(--base08);
}

.p {
    color: var(--base05);
}

.cm {
    color: var(--base04);
}

.cp {
    color: var(--base04);
}

.c1 {
    color: var(--base03);
}

.cs {
    color: var(--base04);
}

.gd {
    color: var(--base08);
}

.ge {
    font-style: italic;
}

.gh {
    color: var(--base05);
    font-weight: bold;
}

.gi {
    color: var(--base0C);
}

.gp {
    color: var(--base04);
    font-weight: bold;
}

.gs {
    font-weight: bold;
}

.gu {
    color: var(--base0C);
    font-weight: bold;
}

.kc {
    color: var(--base0E);
}

.kd {
    color: var(--base0E);
}

.kn {
    color: var(--base0C);
}

.kp {
    color: var(--base0E);
}

.kr {
    color: var(--base0E);
}

.kt {
    color: var(--base0A);
}

.ld {
    color: var(--base0C);
}

.m {
    color: var(--base09);
}

.s {
    color: var(--base0C);
}

.na {
    color: var(--base08);
}

.nb {
    color: var(--base05);
}

.nc {
    color: var(--base07);
}

.no {
    color: var(--base08);
}

.nd {
    color: var(--base07);
}

.ni {
    color: var(--base05);
}

.ne {
    color: var(--base08);
}

.nf {
    color: var(--base0B);
}

.nl {
    color: var(--base05);
}

.nn {
    color: var(--base0A);
}

.nx {
    color: var(--base0A);
}

.py {
    color: var(--base08);
}

.nt {
    color: var(--base08);
}

.nv {
    color: var(--base08);
}

.ow {
    color: var(--base0C);
}

.w {
    color: var(--base05);
}

.mf {
    color: var(--base09);
}

.mh {
    color: var(--base09);
}

.mi {
    color: var(--base09);
}

.mo {
    color: var(--base09);
}

.sb {
    color: var(--base0C);
}

.sc {
    color: var(--base05);
}

.sd {
    color: var(--base04);
}

.s2 {
    color: var(--base0C);
}

.se {
    color: var(--base09);
}

.sh {
    color: var(--base0C);
}

.si {
    color: var(--base09);
}

.sx {
    color: var(--base0C);
}

.sr {
    color: var(--base0C);
}

.s1 {
    color: var(--base0C);
}

.ss {
    color: var(--base0C);
}

.bp {
    color: var(--base05);
}

.vc {
    color: var(--base08);
}

.vg {
    color: var(--base08);
}

.vi {
    color: var(--base08);
}

.il {
    color: var(--base09);
}

.m + .o {
    color: var(--base03);
}

.language-sh .c {
    color: var(--base03);
}
