@charset 'UTF-8';

@import 'otto/variables';

@import 'otto/scaffoldings';
@import 'otto/code';

@import 'otto/grid';
@import 'otto/social-icons';
@import 'otto/emoji-optimize';
@import 'otto/masthead';
@import 'otto/footer';

@import 'otto/syntax-highlighting';